#cont {
  /* margin-top: 10px; */
  margin: 0;
  min-height: 91vh;
  background-image: url(../images/homebcg.jpg);
}
.homeservices {
  position: absolute;
  bottom: 0px !important;
  width: 100% !important;
}
.serv_box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 200px; */
  min-height: 60px;
  object-fit: contain;
  background-color: white;
}

.serv_box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.gray_box {
  background-color: rgb(236, 236, 236);
}
.navbar {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.pink_bcg {
  background-color: #e96189;
}
.footer_ {
  padding-top: 20px;
  color: white;
  width: 100%;
  padding: 10px;
}
@media only screen and (max-width: 402px) {
  #cont {
    min-height: 85vh;
  }
}
@media only screen and (max-width: 360px) {
 .homeservices {
  bottom: -25px !important;
}
}
@media only screen and (max-width: 435px) {
  .footer_ {
    font-size: 3.5vw;
  }
}
.bw {
  word-wrap: break-word !important;
  font-size: 0.95vw;
}
.mzpz {
  margin: 0px !important;
  padding: 0px !important;
}
.zp {
  padding: 0px;
  word-wrap: break-word !important;
}
.imgcol {
  margin-top: 2.6%;
}
@media only screen and (max-width: 1265px) {
  .bw {
    font-size: 0.9vw;
  }
  .imgcol {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 991px) {
  .bw {
    font-size: 1.1vw;
  }
  .imgcol {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 767px) {
  .bw {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 400px) {
  .bw {
    font-size: 1.7vw;
  }
}
